@import "reset.css";

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: white;
}

body {
  height: 200vh;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s linear;
  z-index: 10;
}

.header img {
  height: 60px;
  margin-left: 30px;
}

.header-menu-item {
  color: white;
}

.header-icon-wrapper {
  display: flex;
  align-items: center;
}

.black {
  background-color: black;
}

/* navigation */

.header-nav-container {
  flex-basis: 80%;
  margin-left: 45px;
}

.header-nav-container-list {
  display: flex;
  color: white;
  align-items: center;
  list-style-type: none;
}

.header-nav-container-item {
  margin-right: 20px;
}

.container {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 30px;
}

.item {
  color: #fff;
  font-size: 20px;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}

.item-bar {
  display: flex;
  align-items: center;
}

.item-bar i {
  margin-right: 10px;
}

.item-bar-input input {
  width: 0;
  border: 0;
  background-color: transparent;
  transition: all 0.5s linear;
  font-size: 14px;
  caret-color: #fff;
  color: #fff;
  height: 27px;
}

.active-container {
  border: 1px solid grey;
  padding: 5px 5px;
}

.active {
  width: 250px;
  transform-origin: 100% 100%;
}

.header-notification-wrapper {
  position: absolute;
  top: -10px;
  left: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #d32f27;
}

/* video handle */
.main-video-container {
  /* margin-top: 20px; */
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.main-video-container * {
  position: absolute;
}

.video-overlay {
  background-image: linear-gradient(180deg,hsla(0,0%,8%,.3) 60%,#141414 95%);
  z-index: 2;
  width: 100%;
  top: 0;
  height: 100%;
}

.main-video-container .volume {
  z-index: 2;
  bottom: 150px;
  right: 60px;
  font-size: 25px;
  border: 2px solid #fff;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

#js-main-video {
  top: 0;
  width: 100%;
  right: 0;
}

/* Movie List */

.movie-list-container {
  padding-top: 30px;
  margin-bottom: 70px;
  z-index: 4;
  position: relative;
}

.movie-list-title {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #e5e5e5;
  margin-bottom: 20px;
}

.movie-list {
  display: grid;
  width: 100%;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-gap: 5px;
  padding: 0 60px;
  margin: 0 auto;
}

.movie-item {
  transition: transform .2s linear;
  transform: none;
  position: relative;
  cursor: pointer;
}

.movie-item img {
  width: 100%;
  height: 520px;
}

.movie-item-focus {
  transition: all 0.2s linear;
  transform: scale(1.2);
  transform-origin: top;
}

.movie-item-move-right {
  transition: all 0.2s linear;
  transform: translateX(24px);
}

.movie-item-move-left {
  transition: all 0.2s linear;
  transform: translateX(-24px);
}

.movie__slideshow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .5s ease-in;
}

.movie__slideshow img {
  opacity: 0;
  transition: all 1s ease-in;
  position: absolute;
  top: 0;
  display: none;
}

.slide {
  opacity: 1;
  display: inline;
}

.movie__overlay {
  height: 60%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 30% 20%;
  background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .8) 60%);
  transition: opacity .3s linear;
  opacity: 0;
}

.overlay__play-button {
  font-size: 35px;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
}

.play-button__container {
  background-color: rgba(0, 0, 0, .5);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #fff;
  color: #d32f27;
  padding-left: 10px;
}

.movie-info {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0 5px;
}

.info__title {
  font-size: 20px;
}

.info__year {
  margin: 10px 0;
}

.info__intro {
  font-size: 14px;
}

.movie__arrow {
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
  /* transform: scaleX(2.5) translateY(-10px);
  transition: transform .3s linear, color .3s linear; */
}
